.container {
  background-color: var(--color-bg-orange);
  background-image: url(https://adimg.cgv.co.kr/images/bg_temp_foot_banner2021.gif);
  background-repeat: repeat-x;
  margin: 0 auto;
}
.ad {
  width: 980px;
  display: block;
  margin: 0 auto;
}
.ad img {
}