.container {
  display: block;
  font-size: 14px;
  padding: 4px 32px 4px 15px;
  line-height: 1.429;
  color: var(--color-text-dark);
  border: 1px solid var(--color-grey3);
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  background: transparent url(/src/static/seeAll.png)
  calc(100% - 7px) center/8px 13px scroll no-repeat;
  background-color: rgba(255, 255, 255, 0.8);
}
